@font-face {
  font-family: 'Post No Bills Combo';
  src: url("assets/fonts/post-no-bills/postnobillscolombo-semibold.ttf");
  font-weight: semibold; }

.animation__mouse-down {
  animation: mouseDown 2.5s infinite;
  animation-timing-function: linear; }

.animation__hide {
  transition: .3s; }

@keyframes mouseDown {
  0% {
    transform: translateY(-10%);
    opacity: 0; }
  7% {
    opacity: 0; }
  20% {
    opacity: 1; }
  50% {
    opacity: 1; }
  60% {
    transform: translateY(35%);
    opacity: 0; }
  100% {
    transform: translateY(-10%);
    opacity: 0; } }

@keyframes show {
  0% {
    transform: scale(0.95);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.advantages.animation__hide--active .image-group {
  animation: show 1s forwards; }

.advantages.animation__hide .image-group {
  transform: scale(0.95);
  opacity: 0; }

.advantages.animation__hide .horizontal-group__item:nth-child(1) .image-group {
  animation-delay: .2s; }

.advantages.animation__hide .horizontal-group__item:nth-child(2) .image-group {
  animation-delay: .4s; }

.advantages.animation__hide .horizontal-group__item:nth-child(3) .image-group {
  animation-delay: .6s; }

.advantages.animation__hide .horizontal-group__item:nth-child(4) .image-group {
  animation-delay: .8s; }

.our-flats.animation__hide .presentation {
  transform: scale(0.95);
  opacity: 0; }

.our-flats .gallery__item:nth-child(1) .presentation {
  animation-delay: .5s; }

.our-flats .gallery__item:nth-child(2) .presentation {
  animation-delay: 1s; }

.our-flats .gallery__item:nth-child(3) .presentation {
  animation-delay: 1.5s; }

.our-flats .gallery__item:nth-child(4) .presentation {
  animation-delay: 2s; }

.our-flats.animation__hide--active .presentation {
  animation: show 1s forwards; }

.client-view.animation__hide--active .feedback__description, .client-view.animation__hide--active .feedback__form .form__block {
  animation: show 1s forwards; }

.client-view.animation__hide .feedback__description, .client-view.animation__hide .feedback__form .form__block {
  transform: scale(0.95);
  opacity: 0; }

.client-view.animation__hide .feedback__description {
  animation-delay: .5s; }

.client-view.animation__hide .feedback__form .form__block:nth-child(1) {
  animation-delay: .7s; }

.client-view.animation__hide .feedback__form .form__block:nth-child(2) {
  animation-delay: .9s; }

.client-view.animation__hide .feedback__form .form__block:nth-child(3) {
  animation-delay: 1.1s; }

.client-view.animation__hide .feedback__form .form__block:nth-child(4) {
  animation-delay: 1.3s; }

.flat-inside.animation__hide .video-preview {
  transform: scale(0.95);
  opacity: 0; }

.flat-inside.animation__hide--active .video-preview {
  animation: show 1s forwards;
  animation-delay: .2s; }

.map-block.animation__hide .map {
  transform: scale(0.95);
  opacity: 0; }

.map-block.animation__hide--active .map {
  animation: show 1s forwards;
  animation-delay: .2s; }

.questions.animation__hide--active .form__block {
  animation: show 1s forwards; }

.questions.animation__hide .form__block {
  transform: scale(0.95);
  opacity: 0; }
  .questions.animation__hide .form__block:nth-child(1) {
    animation-delay: .2s; }
  .questions.animation__hide .form__block:nth-child(2) {
    animation-delay: .4s; }
  .questions.animation__hide .form__block:nth-child(3) {
    animation-delay: .6s; }
  .questions.animation__hide .form__block:nth-child(4) {
    animation-delay: .8s; }

.animation__hide .content-panel__title {
  transform: translateX(-1rem);
  opacity: 0;
  transition: .5s; }

.animation__hide--active .content-panel__title {
  transform: translateX(0);
  opacity: 1; }

body, html {
  margin: 0;
  min-height: 100vh;
  background: #242B33; }

body {
  display: flex;
  flex-direction: column; }

* {
  box-sizing: border-box;
  z-index: 10; }

.content-wrapper {
  flex: 1 0 auto; }

.screen-reader {
  display: none; }

.wrapper {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  position: relative; }

.content {
  overflow: hidden; }

.mainpage__front-panel:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%); }

.front-panel {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  .front-panel__title {
    text-align: center;
    font-size: 3rem;
    color: #D4C17F;
    font-family: "Playfair Display", serif;
    margin-top: auto; }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      .front-panel__title {
        font-size: 2.5rem; } }
    @media screen and (max-width: 480px) {
      .front-panel__title {
        font-size: 2.1rem; } }
  .front-panel__icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; }
  .front-panel__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
  .front-panel__panel-footer {
    margin-top: auto;
    margin-bottom: 10%; }

.front-panel, .content-panel {
  position: relative; }

.content-panel__content {
  position: relative; }

.content-panel__title {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: #D4C17F;
  margin-top: 0;
  margin-bottom: 50px; }

.site-header {
  width: 100%;
  padding: 1% 0; }
  .site-header .wrapper {
    display: flex;
    flex-wrap: wrap; }

.panel-background {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0; }
  .panel-background__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.logo {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none; }
  .logo__name {
    font-family: "Post No Bills Combo", sans-serif;
    font-size: 2.25rem;
    text-align: center; }
  .logo__desc {
    font-family: "Raleway", sans-serif;
    font-size: .75rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    text-align: center; }

.main-navigation {
  margin-left: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center; }
  .main-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      .main-navigation__list {
        display: none; } }
    @media screen and (min-width: 769px) {
      .main-navigation__list {
        display: flex; } }
  .main-navigation__item {
    margin-top: 10px;
    margin-bottom: 10px; }
    .main-navigation__item:not(:last-child) {
      margin-right: 40px; }
  .main-navigation__link {
    color: #ffffff; }
    .main-navigation__link:not(:hover) {
      text-decoration: none; }

.panel-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.line-figure {
  display: flex; }
  @media (max-width: 560px) {
    .line-figure {
      flex-basis: 100%;
      justify-content: center; }
      .line-figure:not(:last-child) {
        margin-bottom: 10px; } }
  .line-figure:first-child {
    margin-right: 10px; }
  .line-figure__icon {
    width: 21px;
    height: 21px;
    margin-right: 10px; }
  .line-figure__caption {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem; }

.horizontal-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0; }
  @media (max-width: 1024px) {
    .horizontal-group__item {
      flex-basis: 50%; } }

.image-group {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .image-group__image {
    height: 80px;
    width: 80px;
    margin-bottom: 3rem; }
  .image-group__caption {
    text-align: center;
    color: #ffffff;
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.75rem; }

.advantages {
  padding-top: 120px;
  padding-bottom: 120px; }

.stage {
  position: absolute;
  font-family: "Playfair Display", serif;
  font-size: 25rem;
  font-weight: bold;
  z-index: 5;
  opacity: .02;
  color: #ffffff;
  line-height: 1;
  user-select: none; }
  @media screen and (max-width: 768px) {
    .stage {
      display: none; } }
  .stage--right {
    right: 0;
    transform: translate(50%, -50%);
    top: 50%; }
  .stage--left {
    left: 0;
    transform: translateX(-50%);
    top: 0; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin-top: 100px;
  margin-bottom: -30px; }
  .gallery__item {
    position: relative;
    flex-basis: 40%;
    flex-grow: 1;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .gallery__item {
        flex-basis: 100%; } }
    @media screen and (min-width: 769px) {
      .gallery__item:not(:nth-child(2n)) {
        margin-right: 30px; } }
  .gallery__link {
    display: block;
    width: 100%;
    height: 100%; }

.presentation {
  margin: 0;
  position: relative;
  font-size: 0;
  background: #D4C17F; }
  @media (min-width: 1025px) {
    .presentation:hover::before {
      height: 100%; }
    .presentation:hover .presentation__caption {
      height: 1.2em; } }
  .presentation::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
    transition: .4s; }
    @media (min-width: 1025px) {
      .presentation::before {
        height: 0; } }
    @media (max-width: 1024px) {
      .presentation::before {
        height: 100%; } }
  .presentation__caption {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    color: #ffffff;
    overflow: hidden;
    transition: .3s;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem; }
    @media (min-width: 1025px) {
      .presentation__caption {
        height: 0; } }
  .presentation__background {
    display: block; }
  .presentation__image {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.client-view {
  padding-top: 180px;
  padding-bottom: 180px; }
  .client-view::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
    z-index: 5; }

.feedback {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  position: relative;
  align-items: flex-start; }
  .feedback__description {
    flex-basis: 50%;
    font-size: 1rem;
    line-height: 1.5rem; }
    @media screen and (min-width: 1025px) {
      .feedback__description {
        padding-right: 35px; } }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      .feedback__description {
        flex-basis: 40%; } }
    @media screen and (max-width: 768px) {
      .feedback__description {
        flex-basis: 100%; } }
  @media screen and (min-width: 1025px) {
    .feedback__form {
      flex-basis: 50%; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .feedback__form {
      flex-basis: 55%;
      margin-left: auto; } }
  @media screen and (max-width: 768px) {
    .feedback__form {
      flex-basis: 100%; } }
  .feedback__form .form__block {
    flex-grow: 1; }

.form {
  display: flex;
  flex-wrap: wrap; }
  @supports (gap: 30px) {
    .form {
      gap: 30px; } }
  .form__block {
    flex-basis: 255px;
    height: 50px; }
    @supports not (gap: 30px) {
      .form__block {
        margin-right: 30px;
        mrgin-bottom: 30px; } }
    @media screen and (min-width: 1201px) {
      .form__block {
        flex-basis: 255px; } }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
      .form__block {
        flex-basis: 200px; } }
    @media screen and (min-width: 561px) and (max-width: 1200px) {
      .form__block {
        flex-basis: 255px; } }
  .form__field {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #ffffff33;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    transition: .5s background;
    font-family: "Raleway", sans-serif; }
    .form__field::placeholder {
      text-align: center;
      color: #E7E7E7; }
    .form__field:focus {
      background: #0003; }
  .form__button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 1.75rem;
    background: #D4C17F;
    cursor: pointer;
    transition: .5s; }
    .form__button:hover {
      background: #D4C17F33; }
  .form__attention {
    font-size: 0.8125rem;
    font-family: "Raleway", sans-serif;
    line-height: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #ffffff; }

.video-preview {
  max-width: 720px;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 769px) {
    .video-preview {
      height: 650px; } }
  @media screen and (min-width: 561px) and (max-width: 768px) {
    .video-preview {
      height: 450px; } }
  .video-preview::before {
    position: absolute;
    background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0; }
  .video-preview__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .video-preview__play {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 1025px) {
      .video-preview__play {
        width: 100px;
        height: 100px; } }
    @media (min-width: 561px) and (max-width: 1024px) {
      .video-preview__play {
        width: 76px;
        height: 76px; } }
    @media (max-width: 560px) {
      .video-preview__play {
        width: 50px;
        heihgt: 50px; } }

.map-block {
  margin-top: 180px;
  margin-bottom: 180px; }
  .map-block .content-panel__content {
    margin-top: 100px; }

.questions {
  margin-bottom: 180px; }
  .questions .form__block {
    flex-basis: 255px; }
    @media (max-width: 768px) {
      .questions .form__block {
        flex-grow: 1; }
        .questions .form__block:first-child {
          order: 2; }
        .questions .form__block:last-child {
          order: 3; } }

.map {
  width: 100%;
  background: #626262;
  height: 360px; }

.site-footer {
  flex-shrink: 0;
  background: #2D343C;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px; }
  .site-footer .horizontal-group {
    justify-content: space-between; }
    .site-footer .horizontal-group__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 200px;
      margin-bottom: 30px; }

.footer-navigation {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 10px; }
  .footer-navigation__item:not(:last-child) {
    margin-bottom: 15px; }
  .footer-navigation__link {
    color: #ffffff; }
    .footer-navigation__link:not(:hover) {
      text-decoration: none; }

.footer-navigation, .additional-info {
  line-height: 1rem;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif; }

.additional-info__row {
  margin-top: 0; }
  .additional-info__row:not(:last-child) {
    margin-bottom: 15px; }

.additional-info__value--accent {
  color: #D4C17F;
  font-weight: bold; }

.social-links {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .social-links__link, .social-links__icon {
    display: block;
    height: 100%;
    width: 100%; }
  .social-links__item {
    height: 20px;
    max-width: 40px; }
    .social-links__item:not(:last-child) {
      margin-right: 20px; }
    .social-links__item--facebook, .social-links__item--instagram {
      width: 20px; }
    .social-links__item--youtube {
      width: 28px; }
    .social-links__item--vk {
      width: 35px; }

.burger {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 7px 4px;
  background: transparent;
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  position: relative; }
  .burger__line, .burger:before, .burger:after {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: white; }
  .burger:before, .burger:after {
    content: ''; }
  @media screen and (min-width: 769px) {
    .burger {
      display: none; } }

.mobile-slider {
  position: fixed;
  transform: translateX(100%);
  bottom: 0;
  right: 0;
  height: 100%;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  z-index: 100;
  transition: .3s;
  background: #000a; }
  @media (min-widht: 769px) {
    .mobile-slider {
      display: none; } }
  @media (max-width: 768px) {
    .mobile-slider {
      display: flex; } }
  .mobile-slider--active {
    transform: translateX(0); }

.mobile-menu {
  list-style: none;
  padding-left: 0; }
  .mobile-menu__item {
    margin-top: 10px;
    margin-bottom: 10px; }
  .mobile-menu__link {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    text-decoration: none; }

.close {
  font-size: 60px;
  line-height: .7;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: auto; }

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: .1s;
  background: #0007;
  z-index: 100;
  cursor: pointer;
  padding: 20px; }
  .popup__inner {
    position: relative;
    margin: auto;
    max-width: 768px;
    width: 100%;
    z-index: 9999;
    background: #242B33;
    cursor: default; }
    .popup__inner--video {
      display: flex;
      flex-direction: column;
      padding: 10px; }
  .popup__close {
    font-size: 40px;
    line-height: .7;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99999;
    text-shadow: 1 1 5 #0003; }
  .popup__video {
    flex-grow: 1; }

div[class*='popup--opened'] {
  opacity: 1;
  visibility: visible; }

.video {
  display: block;
  width: 100%; }
